{% extends 'base.html.twig' %}

{% block title %}New SpentInCategory{% endblock %}

{% block body %}
    <h1>Create new SpentInCategory</h1>

    {{ include('spent_in_category/_form.html.twig') }}

    <a href="{{ path('app_spent_in_category_index') }}">back to list</a>
{% endblock %}
