{% extends 'base.html.twig' %}

{% block title %}SLList index{% endblock %}

{% block body %}
    <h1>SLList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for s_l_list in s_l_lists %}
            <tr>
                <td>{{ s_l_list.id }}</td>
                <td>
                    <a href="{{ path('app_s_l_list_show', {'id': s_l_list.id}) }}">show</a>
                    <a href="{{ path('app_s_l_list_edit', {'id': s_l_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_s_l_list_new') }}">Create new</a>
{% endblock %}
