{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table table-striped table-hover">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ category.name }}</td>
        </tr>
        <tr>
            <th>Products</th>
            <td>
                {% for product in category.products %}
                    {{ product.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_index') }}" class="btn btn-secondary">back to list</a>

{% endblock %}