{% extends 'base.html.twig' %}

{% block title %}Edit ProductAmount{% endblock %}

{% block body %}
    <h1>Edit ProductAmount</h1>

    {{ include('product_amount/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_amount_index') }}">back to list</a>

    {{ include('product_amount/_delete_form.html.twig') }}
{% endblock %}
