#logout-link {
    transform: scaleY(1);
}

.sl-thumbtack {
    width: 50px;
    position: absolute;
    top: -10%;
    left: 43%;
}

.shopping-list-title {
    max-width: 600px;
    margin: 10px auto
}

.shopping-list {
    max-width: 600px;
    margin: 0 auto;
}

.shopping-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    height: auto;
    background-color: #ddf5eb;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: var(--bs-box-shadow);
    position: relative;
}

#plus-button {
    right: 30px;
    bottom: 30px;
}

#admin-button {
    right: 68px;
    bottom: 12px;
}