{% extends 'base.html.twig' %}

{% block title %}Edit ShoppingList{% endblock %}

{% block body %}
    <div class="position-relative">

        <h1 class="shopping-list-title">Edit shopping list</h1>

        {{ include('shopping_list/_form.html.twig', {'button_label': 'Update'}) }}
{#        {{ include('shopping_list/_delete_form.html.twig') }}#}

    </div>
{% endblock %}
