{% extends 'base.html.twig' %}

{% block title %}New ShoppingList{% endblock %}

{% block body %}
    <div class="position-relative">

        <h1 class="shopping-list-title">New shopping list</h1>

        {{ include('shopping_list/_form.html.twig') }}

    </div>
{% endblock %}
